/**
* Medium devices (tablets, less than 992px)
*/
.nav-link {
   margin: 0 25px;
}
.mission-value {
   &__inner {
      flex-direction: column-reverse;
   }
   &__content {
      max-width: unset;
      width: 100%;
      display: flex;
      gap: 20px;

      &-title {
         min-width: 350px;
      }

      &-details {
         margin-top: 20px;
      }

      .section-subtitle {
         font-size: 80px;
      }
   }
}

.business-area {
   &__images {
      margin-top: 50px;
   }
   &__image {
      &-content {
         padding: 24px;
      }
      &:nth-child(2) {
         margin-top: 70px;
      }
      &:nth-child(3) {
         margin-top: 0px;
      }
      &:nth-child(4) {
         margin-top: 70px;
      }
   }
}

.contact-us-container {
   padding: 0 20px;
}
.footer-content-container {
   padding: 77px 20px 44px;
}

.Hiven-info {
   width: 243px;
   height: 192px;
}

.contact {
   margin-left: 88px;
}

.investment-region {
   padding-left: 20px;
   padding-top: 80px;
   padding-bottom: 80px;

   &__title {
      font-weight: 500;
      font-size: 126px;
      line-height: 144px;
      margin-bottom: 80px;
   }

   &__content {
      max-height: unset;
      flex-direction: column;
      height: max-content !important;
   }

   &__control {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      &--title {
         font-weight: 700;
         font-size: 80px;
         line-height: 100%;
      }
   }

   // &__content {
   //    max-height: calc(100vh + 285px);
   // }
}

.geography-map {
   margin-left: 0;
   width: 100%;
   // padding-top: 209px;
}
.cards-grid {
   grid-template-columns: 100%;
   justify-items: center;
   align-items: center;
}

.card {
   width: 541px;
   height: 702px;
}
