/**
* Medium devices (tablets, less than 992px)
*/
.nav-link {
   margin: 0 25px;
}
.mission-value {
   &__inner {
      flex-direction: column-reverse;
   }
   &__content {
      max-width: unset;
      width: 100%;
      display: flex;
      gap: 20px;

      &-title {
         min-width: 350px;
      }

      &-details {
         margin-top: 20px;
      }

      .section-subtitle {
         font-size: 80px;
      }
   }
   &__container {
      margin-top: 120px;
      margin-bottom: 120px;
   }
}

.business-area {
   &__images {
      margin-top: 50px;
   }
   &__image {
      &-content {
         padding: 24px;
      }
      &:nth-child(2) {
         margin-top: 70px;
      }
      &:nth-child(3) {
         margin-top: 0px;
      }
      &:nth-child(4) {
         margin-top: 70px;
      }
   }
   &__container {
      max-width: 100vw;
      overflow: hidden;
      .container-full{
         .more-link-wrapper{
            // display: flex;
         }
      }
   }
}

.contact-us-container {
   padding: 0 20px;
}
.footer-content-container {
   padding: 77px 20px 44px;
}

.Hiven-info {
   width: 243px;
   height: 192px;
}

.contact {
   margin-left: 88px;
}

// investment region

.investment-region {
   padding-left: 20px;
   padding-top: 80px;
   padding-bottom: 80px;

   &__title {
      font-weight: 500;
      font-size: 126px;
      line-height: 144px;
      margin-bottom: 80px;
   }

   &__content {
      max-height: unset;
      flex-direction: column;
      height: max-content !important;

      &::before {
         content: unset;
      }

      .geography-map {
         padding-top: 209px;

         &__container {
            width: 100%;
            min-height: 650px;
         }

         &__card.active {
            left: unset !important;
            bottom: unset !important;
            right: -380px;
            top: -209px;
         }

         &__region {
            &--node {
               width: 16px;
               height: 16px;
               &::before {
                  width: 12px;
                  height: 12px;
               }
            }

            &.active {
               .geography-map__region--node::before {
                  width: 8px;
                  height: 8px;
               }
            }
         }
      }
   }

   &__control {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      &--title {
         font-weight: 700;
         font-size: 80px;
         line-height: 100%;
      }
   }

   &__xsmall {
      padding: 0px 20px;

      .investment-region__control--item {
         padding: 16px;
         flex-direction: column;
         align-items: baseline;
         gap: 8px;
         .head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            svg {
               transform: rotate(90deg);
            }
         }
         .body {
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
         }

         .region-info-small {
            .body {
               font-weight: 600;
               font-size: 16px;
               line-height: 24px;
               &__no {
                  font-weight: 400;
                  font-size: 93.2579px;
                  line-height: 100%;
               }
            }
            .foot {
               display: grid;
               margin-top: 8px;
               &__content {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 27px;
                  white-space: nowrap;
                  span {
                     color: $color--pink;
                  }
               }
               &__addr {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 160%;
                  letter-spacing: -0.01em;
               }
            }
         }

         &.active {
            .head svg {
               transform: rotate(-90deg);
            }
            .body {
               max-height: 232px;
            }
         }
      }
   }
}

.geography-map {
   margin-left: 0;
   width: 100%;
   // padding-top: 209px;
}
.cards-grid {
   grid-template-columns: 100%;
   justify-items: center;
   align-items: center;
}

// .card {
//    width: 541px;
//    height: 702px;
// }

.about-us-banner__inner {
   padding: 0 0;
}
.about-us-content__inner {
   padding: 0 0px;
}
.about-us-container-full {
   padding: 102px 20px 62px;
}
.mf-cursor {
   display: none;
}