.about-us-banner {
   &__container {
      width: 100%;
      height: 600px;
      background-image: url(../../assets/images/about-us-banner.svg);
      background-size: cover;
      background-position: center;
      padding-top: 442px;
   }

   &__title {
      display: flex;
      justify-content: flex-start;
      h2 {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 700;
         font-size: 110px;
         line-height: 120px;
         color: #ffffff;
      }
      h1 {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 400;
         font-size: 180px;
         line-height: 181px;
      }
   }
   &__inner {
      padding: 0 200px;
      width: 100%;
      max-width: 2300px;
   }
}
.about-us-content {
   &__container {
      padding-top: 160px;
      padding-bottom: 62px;
      .title {
         font-weight: 500;
         font-size: 180px;
         line-height: 210px;
         pre {
            color: #878b99;
         }
      }
   }
   &__inner {
      width: 100%;
      max-width: 2300px;
      padding: 0 200px;
   }
}

.about-us-container-full {
   color: $color--blue-grey;
   padding: 102px 260px 62px;
   .about-us-hexagon-container {
      display: flex;
      justify-content: center;

      &:nth-child(2) {
         .hexagon-image__container {
            margin-left: -823px;
         }
      }

      &:nth-child(3) {
         .hexagon-image__container {
            margin-right: -823px;
            margin-top: -393px;
         }
      }
      .hexagon-image__container {
         .hexagon-image {
            @include hexagon-shape(808px);

            &__container {
               position: relative;
               margin-left: 60px;
               margin-right: 60px;
            }
         }

         .hexagon__outer-1 {
            transform: translate(-50%, -50%) scale(calc(808 / 808));

            &[data-aos^='zoom'][data-aos^='zoom'].aos-animate {
               transform: translate(-50%, -50%) translateZ(0) scale(calc(808 / 808));
            }
         }

         .hexagon__outer-2 {
            transform: translate(-50%, -50%) scale(calc(808 / 808) * 1.1);

            &[data-aos^='zoom'][data-aos^='zoom'].aos-animate {
               transform: translate(-50%, -50%) translateZ(0) scale(calc(808 / 808) * 1.1);
            }
         }
      }
   }

   .about-us-group-content {
      display: flex;
      justify-content: space-between;
      .CJIA {
         width: 50%;
      }
      .KKFung {
         width: 50%;
      }
      .web-intro {
         width: 550px;
         .intro {
            margin-bottom: 11px;
         }
      }
      &-final {
         width: 50%;
         margin-top: -100px;
         .web-intro {
            margin-top: 80px;
            padding-left: 118px;
            .intro {
               margin-bottom: 11px;
            }
         }
         .KKFung {
            display: flex;
            align-items: center;
         }
         .web-intro {
            width: 546px;
         }
      }
   }
}

.CJIA-website {
   background-image: url(../../assets/images/CJIA-logo.svg);
   background-size: cover;
   background-position: center;
   width: 335px;
   height: 106.69px;
}
.KKFung-Title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 42.2098px;
   line-height: 100%;
   text-transform: capitalize;
   color: $color--blue;

   margin-left: 10px;
}
