.mission-value {
   &__container {
      margin-top: 240px;
      margin-bottom: 240px;
   }
   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 140px;
      width: 100%;
      max-width: 2300px;
      padding: 0 200px 0 20px;
   }

   &__content {
      max-width: 800px;
   }
}
