.hero-slider {
   width: 100%;
   height: 100%;

   &__container {
      width: 100%;
      height: 900px;
      max-height: 100vh;

      position: relative;

      img {
         object-fit: cover;
      }
      .word {
         // opacity: 0;
         animation: up 1.5s;
         animation-delay: 0.5s;
      }

      .hex {
         width: fit-content;
         position: absolute;

         &-1 {
            left: 535px;
            top: 180px;
         }
         &-2 {
            left: 620px;
            top: 128px;
         }
         &-3 {
            left: 460px;
            top: 220px;
         }
         &-4 {
            right: 305px;
            top: 433px;
         }
         &-5 {
            right: 253px;
            top: 488px;
         }
      }
   }

   &__navigation {
      position: absolute;
      right: 260px;
      bottom: -60px;
      z-index: 1;
      display: flex;
   }
   &__pagination {
      width: fit-content !important;
      background-color: $color--blue-grey;
      border: 2px solid rgba($color: #fff, $alpha: 0.3);
      border-radius: 75px;
      z-index: 1;
      padding: 16px;

      &.swiper-pagination-horizontal {
         width: fit-content;
      }
      .swiper-pagination-bullet {
         color: #ffffff;
         opacity: 0.5;
         width: unset;
      }
      .swiper-pagination-bullet + .swiper-pagination-bullet {
         margin-left: 18px;
      }
      .swiper-pagination-bullet {
         background: unset;
      }
      .swiper-pagination-bullet-active {
         background: unset;
         opacity: 1;
      }
   }

   &__content {
      position: absolute;
      bottom: 60px;
      left: 260px;
      z-index: 1;
      color: #fff;

      .logo {
         margin-top: 32px;
      }
      .subtitle {
         margin-top: 16px;
         text-transform: uppercase;
      }
   }

   &__hexagon-group {
      position: absolute;
      left: 422px;
      bottom: 370px;
      z-index: 2;
   }

   &__hexagon-group2 {
      position: absolute;
      bottom: 150px;
      right: 254px;
      z-index: 2;
   }
}

#next-btn {
   @include hexagon-button(120px);
   @include flex-center;
   transition: transform 0.4s ease;
   cursor: pointer;

   background-color: $color--blue-grey;
   color: #fff;

   &:hover {
      transform: rotate(10deg);
   }
}

#prev-btn {
   @include hexagon-button(120px);
   @include flex-center;
   transition: transform 0.4s ease;
   cursor: pointer;

   background-color: #fff;
   color: $color--blue-grey;

   &:hover {
      transform: rotate(-10deg);
   }

   & .icon {
      transform: rotate(180deg) translateY(50%);
   }
}

.blur-hexagons {
   &--left {
      position: relative;
      width: 100%;
      height: 100%;

      div {
         position: relative;

         &:nth-child(1) {
            left: 620px;
            top: 256px;
         }
         &:nth-child(2) {
            left: 650px;
            top: 144px;
         }
         &:nth-child(3) {
            left: 422px;
            top: 152px;
         }
      }
   }
}
