/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */

.cards-grid {
   display: grid;
   padding: 240px 0;
   grid-gap: 40px;
   grid-template-columns: 50% 50%;

   article:nth-of-type(2n) {
      margin-top: -80px;
   }
}
.card {
   width: 100%;
   height: 740px;
   left: 260px;
   top: 996px;
   display: block;
   overflow: hidden;
   cursor: pointer;

   &:hover {
      .card-header {
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
      }
      .view-more {
         opacity: 1;
      }
      .more-link {
         display: flex;
         transition: display 0s, opacity 0.5s linear;
      }
      .card-body {
         height: fit-content;
      }
   }
}

.card-header {
   height: 58%;
   width: 100%;
   padding: 15px;
   width: 100%;
   background-size: cover;
   color: #fff;
   transition: transform 0.4s ease;
}

.card-header--title {
   text-transform: uppercase;
   margin: 0;
}

.card-body {
   height: auto;
   padding: 40px;
   color: $color--blue;
   background-color: #fff;
   width: 100%;
   transition: all 0.4s ease;

   h2 {
      margin-top: 8px;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-transform: capitalize;
   }
   .view-more {
      opacity: 0;
      transition: all 0.4s ease;
   }
   .more-link {
      display: none;
   }
}

.date {
   font-size: 18px;
   line-height: 160%;
   letter-spacing: -0.01em;
   color: $color--blue-grey;
}

.body-content {
   // padding-bottom: 40px;
   font-size: 13px;
   line-height: 1.8;
   margin-bottom: 24px;
   transition: all 0.4s ease;
}

.designer-link {
   color: #fff;
   text-align: center;
   font-size: 12px;
   text-decoration: none;
   display: block;
}
